<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"><%= class_name.pluralize %></h1>

  <div class="btn-toolbar mb-2 mb-md-0">
    <%%= link_to 'Novo', new_<%= name %>_path, class: 'btn btn-sm btn-outline-secondary' %>
  </div>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <%- attributes.each do |attr| -%>
        <th><%= attr.name.humanize %></th>
        <%- end -%>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%% @<%= name.pluralize %>.each do |<%= name %>| %>
			<tr>
			<%- attributes.each do |attr| -%>
				<td><%%= <%= name %>.<%= attr.name %> %></td>
			<%- end -%>
				<td><%%= link_to t(:show), <%= name %> %></td>
				<td><%%= link_to t(:edit), edit_<%= name %>_path(<%= name %>) %></td>
				<td><%%= link_to t(:destroy), <%= name %>, method: :delete, data: { confirm: t(:confirm_message) } %></td>
			</tr>
			<%% end %>
    </tbody>
  </table>
</div>
